{
    "server": "{{ ansible_nodename }}",
    "server_port": {{ port_enable }},
    "password": "{{ password_shadowsoks }}",
    "timeout": 60,
    "method": "chacha20-ietf-poly1305",
    "fast_open": true,
    "plugin": "v2ray-plugin",
    "plugin_opts": "server"
}